<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>HomePage</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body>
    <header>ESSE É O CABEÇALHO</header>
    <main>
      <h1>VAMO</h1>

      <h2 style="color: black; font-size: 14px">Texto estilizado</h2>
    </main>
    <footer>ESSE É O RODAPÉ</footer>
  </body>
</html>
