<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>caiozera</title>
</head>
<body>


    <div class="divCentral">
        <h1 class="title">
            Caio, Olá aplicação
        </h1>
    </div>
    <style>
body{
    justify-content: center;
  place-items: center;
    display: flex;
   height: 100vh;

}
        .divCentral {
            height: 200px;
            width: 300px;
            border-radius: 20px;
            background-color: blue;
            align-items:center;
            display: flex;
            justify-content: center;
        }
    </style>
</body>
</html>