<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>caiozera</title>
    <link rel="stylesheet" href="/css/style.css"
</head>
<body>

    <div class="divCentral">
        <h1 class="title">
            Caio, Olá aplicação
        </h1>

        <button class="buttonEntre"> 
            <h1>
                Entre 
            </h1>
        </button>
    </div>
 
</body>
</html>