body{
    justify-content: center;
  place-items: center;
    display: flex;
   height: 100vh;

}

        .divCentral {
            height: 300px;
            width: 300px;
            border-radius: 20px;
            background-color: gold;
            align-items:center;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .buttonEntre {
border: 2px, solid, black;
margin: 20px 40px;
padding: 10px 20px;
border-radius: 100px;
font-weight: 200px;
background-color: blue;
color: azure;
width: 200px;
        }

        .buttonEntre:hover{
            background-color: aqua;
            cursor: pointer;
        }